<link rel="stylesheet"
      href="../../../../../../../../../pub/static/frontend/Magento/luma/en_US/Ezdefi_Payment/css/ezdefi.css">
<script src="../../js/view/payment/method-renderer/ezdefi.js"></script>
<link rel="stylesheet" href="../../css/srouce/ezdefi.css">
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="html: getPaymentTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="ezdefi__select-currency-box">
            <div class="ezdefi__select-currency--list">
                <!-- ko foreach: {data: getCurrencies(), as: 'currency'} -->
                <label class="ezdefi__select-currency--label" data-bind="attr: {for: 'ezdefi__select-currency-' + currency.currency_id}">
                    <!-- ko if: currency.description -->
                    <img data-bind="attr: {'src':currency.logo }" alt="" class="ezdefi-select-currency-item--logo" data-toggle="tooltip" title="{{ currency.description }}">
                    <!--/ko-->
                    <!-- ko ifnot: currency.description -->
                    <img data-bind="attr: {'src':currency.logo }" alt="" class="ezdefi__select-currency-item--logo">
                    <!--/ko-->
                    <span class="ezdefi__select-currency-item--price" data-bind="text: currency.price"></span>
                    <span class="ezdefi__select-currency-item--symbol" data-bind="text: currency.symbol"></span>
                    <span class="ezdefi__select-currency-item--discount" data-bind="text: '-' + (parseFloat(currency.discount))+'%'"></span>
                    <input  type="radio" name="currency-selected-to-order" class="hidden ezdefi__select-currency--checkbox"
                            data-bind="attr: {'id'         : 'ezdefi__select-currency-' + currency.currency_id,
                                            'value'        : currency.currency_id,
                                            'data-name'    : currency.name,
                                            'data-logo'    : currency.logo,
                                            'data-discount': currency.discount}">
                </label>
                <!--/ko-->
            </div>

            <!-- ko if: isPlaceOrder -->
            <button data-role="review-save" class="action primary ezdefi__btn-create-payment" data-bind="event: {click: function() { checkCreatePaymentAfterCheckType()} }"> Change </button>
            <!--/ko-->
        </div>

        <!--ko if: isShowPaymentContent -->

        <div class="ezdefi-payment-box">
            <div class="ezdefi-payment__header">
                <img alt="" class="ezdefi-payment__currency-logo tooltip-show-discount" data-toggle="popover" title="Discount" data-placement="top" data-content="Discount:" data-trigger="hover"
                     data-bind="attr: {src: currencyChoosed.logo}">
                <span class="ezdefi__currency-name tooltip-show-discount" data-toggle="popover" title="Discount" data-placement="top" data-content="Discount:" data-trigger="hover"
                      data-bind="text: currencyChoosed.name"></span>
                <span class="wide-space"></span>
                <button class="ezdefi__btn-change-currency" data-bind="click: changeCurrency"> Change </button>
            </div>

            <div class="ezdefi-payment__content">
                <!-- ko if: checkEnableSimpleMethod()-->
                <input type="radio"
                       id="choose-simple-method-radio"
                       name="choose-method-radio"
                       data-bind="event: {change: function() { testCheck() }}"
                       data-method="simple">
                <label class="btn-show-payment--simple btn-choose-payment-type ezdefi__check-showed-payment"
                       for="choose-simple-method-radio">
                    Pay with any crypto wallet
                </label>
                <!-- /ko -->
                <!-- ko if: checkEnableEzdefiMethod()-->
                <input type="radio"
                       id="choose-simple-ezdefi-radio"
                       name="choose-method-radio"
                       data-bind="event: {change: function() { testCheck() }}"
                       data-method="ezdefi">
                <label class="btn-show-payment--ezdefi btn-choose-payment-type"
                       for="choose-simple-ezdefi-radio">
                    <span><img alt="" data-bind="attr: {src: getEzdefiLogo()}"></span>
                    <span class="pay-with-ezdefi-label">Pay with ezDeFi wallet</span>

                </label>
                <!-- /ko -->
                <!-- ko if: isHasOneMethod()-->
                <label class="btn-choose-payment-type">
                </label>
                <!-- /ko -->

                <div class="payment-box simple-pay-box" data-bind="style:{'display': 'block'}">
                    <!-- ko ifnot: simplePaymentContent() -->
                    <div class="loader--simple loader">
                        <div class="Loader__item"></div>
                        <div class="Loader__item"></div>
                        <div class="Loader__item"></div>
                    </div>
                    <!-- /ko -->
                    <div class="ezdefi__simple-payment-content" data-bind="html: simplePaymentContent">
                    </div>
                </div>
                <div class="payment-box ezdefi-pay-box">
                    <!-- ko ifnot: ezdefiPaymentContent() -->
                    <div class="loader--ezdefi loader">
                        <div class="Loader__item"></div>
                        <div class="Loader__item"></div>
                        <div class="Loader__item"></div>
                    </div>
                    <!-- /ko -->
                    <div class="ezdefi__simple-payment-content" data-bind="html: ezdefiPaymentContent">
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <!-- ko ifnot: isPlaceOrder -->
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout ezdefi__btn-create-payment"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
        <!--/ko-->

    </div>
</div>